{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}
Agregar/Modificar
{% endblock %}

{% block content %}
<h1>{{ laboratorio.nombre|default:"Nuevo Laboratorio" }}</h1>

<form method="post" class="needs-validation" novalidate>
    {% csrf_token %}
    

    {% for field in form %}
    <div class="mb-3">
        <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
        {{ field }}
        {% if field.help_text %}
        <div class="form-text">{{ field.help_text }}</div>
        {% endif %}
        {% for error in field.errors %}
        <div class="invalid-feedback">{{ error }}</div>
        {% endfor %}
    </div>
    {% endfor %}

    <button type="submit" class="btn btn-primary">Guardar</button>
</form>
{% endblock %}
